.expensebutton {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.incomebutton {
  position: absolute;
  bottom: 70px;
  right: 15px;
}

.transferbutton {
  position: absolute;
  bottom: 130px;
  right: 15px;
}

.settingbutton {
  position: absolute;
  bottom: 70px;
  right: 15px;
}

.buttonContainer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  right: 10px;
}

.card {
  position: relative;
  overflow: visible;
  padding: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.removebutton {
  position: absolute;
  bottom: 10px;
  right: 12px;
}
